.normal {
    /* background: #ccc;
    color: red; */
    text-decoration: none;
}
.active {
    /* background: #fbfb09; */
    /*font-weight: 600;
    text-transform: uppercase; */
    text-decoration: none;
    
}